# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
如果你有任何问题，请到我们的Discord频道来问。你可以在标题界面上找到链接。
黎明石砧可以用来修复和拆解工具和盔甲，拆解成制作装备的材料。
锻造台可以增加或改变你工具和盔甲的品质。
四个背包宠物可以合成一个随机的宠物。
拿走巫师的东西会让他很生气。
在梯子上右键可以立即爬升或下降。
整合包有非常多模组，意味着有许多按键会相互冲突，花几分钟检查一下你的按键绑定。
交错次元表示任何不是来自它自己维度内的食物都将腐烂。
交错次元中用它们维度的材料制成的工具比其他地方的更好用。
在交错次元，你会慢慢腐烂，食用凝胶球可以稍微扭转这个情况。
在天境探索小心别从边缘掉下来，会让你回到主世界。
把天跃兔顶在头上吧，别问，做就对了！
不要和鸡蛇比赛对视。
右键龙尸来收集鳞片和骨头，或者用空瓶子右键来收集它的血。
如果你在阿图姆找到了一座金字塔，可以在它周围挖掘找到进去的路。
在地下巢穴中发现的雌龙在被杀死时可能会掉下一个蛋。
复活节岛的头部是巨大的石脸，只能用镐来破坏。
敌人会越来越强大，不要无所事事！
黄蜂表示不喜欢别人来访。
饿了吗？可以试试把两片生肉和一根棍子一起做成一串肉串。
使用祛魔台可以分离原有物品上的附魔，重新变成一本附魔书，再附到别的物品上。
用魔导透镜扫描一切，一切！
在黑暗的地下呆太久会使你受到伤害。
骏鹰喜欢吃兔子脚。
需要更多的存储空间？那就造一个巨大的箱子吧！
悠悠球可不仅仅是简单的玩具。
橄榄油能让一切都变得更好吃。
陷入困境？继续往下挖，但要确保你不会被发现。
热带爬行者只是想传播一些爱。
血月期间请躲起来，很少有人能逃过一劫活下来。
杀死足够多的雪人最终会引起他们首领的注意…
多吃各种不同的食物，它能最大限度地增加你的血量。
需要修理，而你又不在铁砧附近？试试胶带！
完成任务获得的金币可以用来购买战利品盒，以及各种有用的物品，如原材料、武器和食物。
在沼泽地旅行时要小心水螅，它们很弱，但如果在水里，就会很危险。
不知道如何继续？检查任务进度，了解下一步该做什么。
附魔台旁边没有书架是没有用的。
火把发射器是你最好的新朋友。
消耗5级经验可以获得1个技能点，用于学习各种有用的技能。
提高你在洞穴维度内的采矿得分以获得进入巨大洞穴维度的权限，或者进一步获得进入海蓝洞穴的权限。
计划长途旅行时，不妨利用旅途上的指路石或直接在商店购买。
等一下…你可以吃一颗带有下界之星的吐司？！
遇到一个可爱的小动物？你想给它一个家吗？那就用一个生物捕捉球来捕获它！
你可以一口气挖出一整条矿脉，甚至可以砍倒一整棵树。
闪电法术可以像自然闪电一样给苦力怕充电。
要查看游戏中的道具并了解更多信息，请在打开背包时使用屏幕右侧的搜索栏。
你需要骨粉来种植庄稼吗？去野外的找到巨大骨头并将它分解吧。
在与蛇发女妖战斗之前，一定要准备一个眼罩。
如果你碰巧死了，你的物品会被储存在一个墓碑上。
在炉子里烤吐司面包。科学!
杀死敌人后，有可能会出现幽灵。这些灵体只能被魔法或药水伤害，杀死它们会得到胶化外质。
蓝宝石可以在龙巢中找到，并且受到雪地村民的追捧。
如果你认为死亡蠕虫是有史以来最可爱的生物，那你就太幸运了! 杀死它们，就有机会得到一个卵，养一个作为宠物！这是很重要的。
施放几次未知的咒语可能会让你了解自己。这是完全安全的......大多数时候。
如果你愿意花更少的时间手工建造，有预制建筑可供选择。
天空中那个奇怪的东西是什么？它没有移动，所以它不可能是一朵云。我想知道是否...
在某些被驯服的动物、设备、甚至是飞艇的帮助下，翱翔于天空不仅仅是一个梦想。
走累了吗？想来点疯狂的吗？使用弹跳之杖吧。
虽然一开始恐蚁是有敌意的，但向劳工扔蚁脂会使他们接受，增加你的声誉。最终，交易将成为可能。
始终都要检查地下室。
如果您不想将您的绿宝石交易给村民，可以用它们来制作装备！
喜欢某样东西的外观吗？那就把它装备在时装护甲栏位里吧 要进入这些栏位，请点击物品栏中你的角色显示器上的盔甲图标。
你可以制作塔可饼。一个整合包还需要什么呢？
如果你认为开放水面上的危险比陆地上的小，那你就错了。
在一个安全的地方建立你的维度传送门，有东西可以穿过来拜访你......
现在有各种各样的傀儡了。
末地并不代表结束。
通过在你的旅行地图上添加路径点，保持对有趣地点的关注。
如果你想让无数莫名其妙的事情随机发生在你和你的朋友身上，那就装备带有尔虞我诈附魔的装备。
喝牛奶可以解决大多数问题。
如果一开始你没有成功，就换一把更大的剑。
你可以用修理站修复几乎所有的东西，你所需要的只是一个红石信号和一点时间。
厌倦了等待？使用时间之瓶。
留意红色的物品描述，这通常意味着坏事。
你可以和巫师交易，只要他们不想杀你。
如果你从交错次元中找到一个物品卷轴，把它和一些硫磺和生命水晶一起放在一个活化器里。
副手可以容纳的不仅仅是盾牌。
靠近某些形式的植物生命时要小心，因为它们可能会造成有害影响，甚至试图吃掉你。了解你的周围环境！
在任何一个洞穴维度中开采奇异矿石都会产生奇怪的结果。你最终可能会得到任何材料，从虚空金属粒到奶酪！
你可以通过用末影珍珠制作你的坟墓的钥匙，使其快速返回你的死亡点。
蛇发女妖头颅可以把任何东西变成石头，但它只有这一个用途。
在交错次元消耗相同类型的食物，最终会变得不那么有效。变化是生活的调味品！
魔力晶体可以通过挖矿找到，也可以用某种花来制作...
巴阳卡部落通常是敌对的，但如果你有一个伪装，也许你可以和他们交易...
检查村庄里的箱子和板条箱，它们可能装着有用的东西。
钢铁守护者可以抵御最强大的打击，但他确实有一个弱点......。
把你的档案碎片花在头衔档案上，以购买一个别致的新头衔加入你的名字。
如果你发现地下有钻石居蟹，请迅速行动。它们跑得很快，但被杀死后可能会掉落钻石。
热带地区有很多沙子......筛一些沙子，你可能会发现有趣的东西。
次元门上有许多宝物，但要注意陷阱！在这个过程中，你会发现有很多人都不知道该怎么办。
地牢可以在任何地方，甚至在水底。
想找一个特定的生物群落？使用生物群系指南针。
你可以用大气能量测量表来告诉一个地区有多少热量。更多的热量意味着你的灰烬晶体开采机运行得更快。
射炮步甲有一个爆炸攻击，一旦被触及就会激活，参与时要小心谨慎！
装备阿图姆之佑眼将改善你在其维度的沙地环境中的视野。
暮色森林会跟踪你的更多。如果你不能在某个生物群系中前进，你可能在另一个生物群系中有未完成的任务。
天境有自己的装备槽，可以在其中找到许多物品。要进入这些插槽，请点击物品栏中你的角色显示器上的云图标。
在标准盔甲的装备槽之外，小饰品也有自己的装备槽。要进入这些插槽，请点击物品栏中你的角色显示器上的圆圈。
一些交错次元物品可以通过按C键和选择物品来装备。
鹤嘴锄是一种锹，还是一种镐？事实上，它两者都是。不仅如此，它还能一次开采和挖掘9个方块！
钱不会从树上长出来，但至少你可以种植钻石。
你为什么要带着几组泥土？用垃圾桶吧！
装备一个背包以获得更多的存储空间。
需要安营扎寨过夜吗？制作一个帐篷，无论你走到哪里都可以带着它。放在里面的物品即使在你收拾好东西搬到其他地方后也会在那里。
如果你的GUI尺寸很大，这些提示大多会被切断。
不要忘了吃牛头人沙拉酱肉！
不要更新这个整合包中的任何模组，每个模组版本都是手工挑选的，是有原因的。
在交错次元，你可以用壁虎笼子里抓一只壁虎，并在它身上试验当地的食材。
有些戒指在装备时，会消耗经验以保持激活。
你可以通过消耗一颗蕴魔之心来降低难度......或者如果你是个疯子，就用一颗诅咒之心来增加难度。
在工作台使用九个心晶碎片，创造一个心之容器，这将增加你的最大生命值。
每次击败末影龙和凋灵都会变得更加强大。
恶魂刷怪笼可以在下界的浮动结构上找到。据称，你可以以某种方式从里面召唤出一个恶魂女王。
等等，那是下界的冰吗？！
不要站在火中。
女武神是中立的，但如果被激怒，她们会寻求在战斗中证明自己。
拟箱怪喜欢通过将自己伪装成天境地牢中的箱子来欺骗冒险者。
隐形斗篷会让你远离大多数敌人，直到你攻击他们。
潜影贝的上方没有血量条，这使得他们很难在构成末地城的方块中找到。
如果你在晚上被抓到，而且离家太远，可以用睡袋或宠物床来睡到天亮。
你可以给你驯服的狗吃点零食，让它们获得点数。用木棍右键你的狗，将这些点数用于各种狗的技能。
想象一下，如果黄金和钻石融合在一起形成黄金钻石......等等，这已经是一回事了吗？！
据说，在暮色森林的肥沃泥土中种植一些魔豆，可以长出一根巨大的豆茎，直达天空。
想把附魔提高到新的等级吗？试试用一些地狱书架来取代那些旧书架吧。
除非你有一个带有末影凝视附魔的物品，否则永远不要看末影人的眼睛。
在搜索栏内可以找到大约七页的箭和弩箭......这是一个练习射箭的好日子。
撼地重锤可以用强大的地面猛击来摧毁敌人。
驱虫方块可以在混沌之地拯救你的生命。
对一件装备施以生命附魔，可以让它提升等级，变得更强大，甚至可以让物品与你对话。
裂隙是现实中不稳定的黑色撕裂。如果你发现一个，你应该用裂隙移除器来关闭它。
在你的屏幕左下角有时会出现一个显示难度的仪表......这意味着它刚刚上升了。
在阿图姆发现的肮脏的金币扔进水里后会变成金币。这对讲太阳话的人来说是一个很好的交易项目。
要想去热带世界，请坐在沙滩椅上，面对日落，喝上一杯柳叶飘香。不，这不是一个笑话。
在交错次元游泳会导致你更快地腐烂。
一个黑暗德鲁伊祭坛是制作沼泽护身符的必要条件，你需要它来进入通往交错次元的传送树。
用存储连接线缆将多个箱子连接在一起，然后是存储网络主机，然后是存储合成台。有条不紊!
除非你知道你在做什么，否则永远不要编辑一个模组的配置文件!
永远不要让你的门敞开。
你可以繁殖泥潭蜗牛。此外，如果你是一个恐怖的人，你可以吃他们的孩子。
攀岩手套可以让你像爬梯子一样爬上任何墙壁。
村民有不同的职业，这意味着他们会根据自己的工作为你提供不同类型的交易物品。
在访问下界时，带着一个宠物岩浆怪。你以后可以会我。
吃一个潜地果会让你在几秒钟内穿越墙壁。这是检查地下龙穴的一个好方法。
刷怪笼的刷怪量似乎有一个限制；也许这可以在地牢中为你提供帮助？
整合包的作者Dreams有一个Patreon。你可以在标题页面上找到这个链接。
刷怪笼在生成大量生物后会变质。
刷怪笼的刷怪量似乎有一个限制；也许这可以在地牢中为你提供帮助？
要使用钩爪，你必须重新绑定钥匙来使用它，并把它放在你的饰品栏里。
需要经验？查看任务书，了解你可以完成的任务。可重复的任务在无尽挑战章节中找到。
注意你身上的附魔，有些会有负面效果，会对你造成惩罚!
为了使附魔台发挥作用，它需要周围有书架，书架和附魔台之间没有任何东西。
    >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}

